<footer style="">
        <div class="footer-content">
            <h1 >Health care</h1>
            <p>Help for your life, help for your health!</p>
            <ul class="socials">
                <li><a href="#"><span class="icon-item"><ion-icon name="logo-facebook"></ion-icon></span></a></li>
                <li><a href="#"><span class="icon-item"><ion-icon name="logo-twitter"></ion-icon></span></a></li>
                <li><a href="#"><span class="icon-item"><ion-icon name="logo-instagram"></ion-icon></span></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>2023 Health care. designed by <span>khanhhoai</span></p>
        </div>
</footer>
