  <div class="container">

      <div class="sub-heading">
        
      </div>
    

    <div class="main">
      <div class="home">
        <div class="left">
          

          <h2 class="heading-2">
            Hue Central Hospital pilot implementation of stay notification through ASM software
          </h2>
          <p class="home-img"><span>{{obstetrics.createAt}}</span></p>
          <img src="http://localhost:3000/img/image.jpg" class="home-img" alt="Paper photo">
        </div>

        
      </div>
               
     
        <p>On the morning of June 18, 2023, Hue Central Hospital coordinated with the Steering Committee of Project 06 of Thua Thien Hue province to organize a pilot opening ceremony to implement stay notification through ASM software.

Attending the Opening Ceremony were:

- Mr. Nguyen Thanh Binh - Standing Member of Provincial Party Committee, Standing Vice Chairman of Provincial People's Committee, Standing Deputy Head of Steering Committee of Project 06 provinces.

- Comrade Colonel Nguyen Dinh Thua - Deputy Director of Provincial Public Security.

- Mr. Nguyen Xuan Son - Director of Department of Information and Communications; Deputy Head of Steering Committee for the implementation of Project 06 provinces.

- Mr. Nguyen Van Phuc - Director of Tourism Department of TT province. Hue.

- Comrade Vo Le Nhat - Chairman of Hue City People's Committee.

- Representatives of leaders of provincial Departments of Health, Social Insurance, Representatives of news agencies and press in Thien Hue province...

- Comrade Pham Nhu Hiep - Member of the XIV and XV National Assembly - Member of the Provincial Party Committee - Secretary of the Party Committee, Director of Hue Central Hospital.

- Board of Directors of Central Hospital, Leaders of relevant departments and departments of the Hospital, Provincial Police and 150 officials and employees working at the hospital.
Speaking at the opening ceremony, Mr. Nguyen Thanh Binh - Standing Member of Provincial Party Committee, Standing Vice Chairman of Provincial People's Committee, Standing Deputy Head of Steering Committee for Project 06 provinces said: Accommodation notification via ASM software is a new breakthrough in administrative reform, creating favorable conditions for businesses, medical examination and treatment facilities to manage and fulfill the obligation to notify stay in the same place. single application, the process of receiving customer information is fast, convenient, accurate, ... helps to reduce time, human resources, costs, ensure security and safety, making an important contribution to the process. local digital transformation", at the same time, Comrade Nguyen Thanh Binh also praised Hue Central Hospital for actively coordinating in organizing the Opening Ceremony.
Colonel Nguyen Dinh Thua - Deputy Director of the Provincial Public Security said: "The implementation of the accommodation management model via ASM software is connected to the national database of population at the accommodation business. accommodation and medical examination and treatment in order to contribute to improving the efficiency of state management of security, order, tourism and health, and contribute to the successful implementation of Project 06 in the province.

Comrade Pham Nhu Hiep - Director of Hue Central Hospital said: "In order to continue promoting the implementation and implementation of Project 06, Hue Central Hospital has been and continues to invest in upgrading equipment infrastructure. Equipped with information technology, application platforms ensure synchronous connectivity, reducing people's time and administrative procedures when going for medical examination and treatment. Enhance communication so that people know and understand about the convenience and benefits of stay notification through ASM software. Striving for 100% of patients and patients' family members to notify their stay through ASM software, taking the people as the service center; create the most favorable conditions for people to enjoy practical utilities and benefits from Project 06.”
The Steering Committee of Project 06 Thua Thien Hue Province piloted the implementation of stay notification through ASM software at 15 accommodation business establishments and 03 medical examination and treatment establishments in Thua Thien Hue province; held the opening ceremony at Hue Central Hospital, pilot period: 1 month (from June 1, 2023 to the end of June 30, 2023); After that, it will be deployed to replicate all accommodation business establishments and medical examination and treatment establishments in the whole province.

Objective: Using ASM residence notification software connected to the National Population Database System, ensuring personal data is secure, stay information is updated and synchronized continuously. system, contributing to preventing and stopping law violations, serving to ensure information security and state management of the tourism and health sectors.

In order to effectively implement the pilot model of stay notification through ASM software, it is necessary to have close, unified and synchronous coordination of relevant departments, agencies and units in the implementation process. presently. Especially, the attention and coordination of news and propaganda agencies of the press and media agencies in the province.</p>


    </div>
  </div>

  




